In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [165]:
df=pd.read_csv("./Data/incident_event_log.csv")
df.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,INC0000045,Resolved,True,0,0,2,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
2,INC0000045,Resolved,True,0,0,3,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,29/2/2016 04:40,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00

In [166]:
df.isnull().sum(axis=0) #Calculating NA's in each column

number                     0
incident_state             0
active                     0
reassignment_count         0
reopen_count               0
sys_mod_count              0
made_sla                   0
caller_id                  0
opened_by                  0
opened_at                  0
sys_created_by             0
sys_created_at             0
sys_updated_by             0
sys_updated_at             0
contact_type               0
location                   0
category                   0
subcategory                0
u_symptom                  0
cmdb_ci                    0
impact                     0
urgency                    0
priority                   0
assignment_group           0
assigned_to                0
knowledge                  0
u_priority_confirmation    0
notify                     0
problem_id                 0
rfc                        0
vendor                     0
caused_by                  0
closed_code                0
resolved_by                0
resolved_at                0
closed_at                  0
dtype: int64

In [167]:
df.dtypes

number                     object
incident_state             object
active                       bool
reassignment_count          int64
reopen_count                int64
sys_mod_count               int64
made_sla                     bool
caller_id                  object
opened_by                  object
opened_at                  object
sys_created_by             object
sys_created_at             object
sys_updated_by             object
sys_updated_at             object
contact_type               object
location                   object
category                   object
subcategory                object
u_symptom                  object
cmdb_ci                    object
impact                     object
urgency                    object
priority                   object
assignment_group           object
assigned_to                object
knowledge                    bool
u_priority_confirmation      bool
notify                     object
problem_id                 object
rfc                        object
vendor                     object
caused_by                  object
closed_code                object
resolved_by                object
resolved_at                object
closed_at                  object
dtype: object

In [168]:
df.describe()#Estimating the range of values in the dataset

       reassignment_count   reopen_count  sys_mod_count
count       141712.000000  141712.000000  141712.000000
mean             1.104197       0.021918       5.080946
std              1.734673       0.207302       7.680652
min              0.000000       0.000000       0.000000
25%              0.000000       0.000000       1.000000
50%              1.000000       0.000000       3.000000
75%              1.000000       0.000000       6.000000
max             27.000000       8.000000     129.000000

In [169]:
df.drop(['cmdb_ci', 'problem_id', 'rfc', 'vendor','caused_by','caller_id','opened_by','sys_created_by','sys_updated_by','location','resolved_by','notify','assigned_to','assignment_group'],axis = 1,inplace=True)

In [170]:
df.replace('?', np.NaN, inplace = True)
df.info() #Replacing ? in the dataset ho

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141712 entries, 0 to 141711
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   number                   141712 non-null  object
 1   incident_state           141712 non-null  object
 2   active                   141712 non-null  bool
 3   reassignment_count       141712 non-null  int64
 4   reopen_count             141712 non-null  int64
 5   sys_mod_count            141712 non-null  int64
 6   made_sla                 141712 non-null  bool
 7   opened_at                141712 non-null  object
 8   sys_created_at           88636 non-null   object
 9   sys_updated_at           141712 non-null  object
 10  contact_type             141712 non-null  object
 11  category                 141634 non-null  object
 12  subcategory              141601 non-null  object
 13  u_symptom                108748 non-null  object
 14  impact                   141712 non-null  object
 15  urgency                  141712 non-null  object
 16  priority                 141712 non-null  object
 17  knowledge                141712 non-null  bool
 18  u_priority_confirmation  141712 non-null  bool
 19  closed_code              140998 non-null  object
 20  resolved_at              138571 non-null  object
 21  closed_at                141712 non-null  object
dtypes: bool(4), int64(3), object(15)
memory usage: 20.0+ MB

df.shape

In [171]:
#fig, ax = plt.subplots(figsize=(10,10))  
#sns.heatmap(incident.isnull(), cmap='viridis',ax=ax) #Exploring the columns which have most NA values

In [172]:
df.head(8)

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,opened_at,sys_created_at,sys_updated_at,...,subcategory,u_symptom,impact,urgency,priority,knowledge,u_priority_confirmation,closed_code,resolved_at,closed_at
0,INC0000045,New,True,0,0,0,True,29/2/2016 01:16,29/2/2016 01:23,29/2/2016 01:23,...,Subcategory 170,Symptom 72,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,29/2/2016 11:29,5/3/2016 12:00
1,INC0000045,Resolved,True,0,0,2,True,29/2/2016 01:16,29/2/2016 01:23,29/2/2016 08:53,...,Subcategory 170,Symptom 72,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,29/2/2016 11:29,5/3/2016 12:00
2,INC0000045,Resolved,True,0,0,3,True,29/2/2016 01:16,29/2/2016 01:23,29/2/2016 11:29,...,Subcategory 170,Symptom 72,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,29/2/2016 11:29,5/3/2016 12:00
3,INC0000045,Closed,False,0,0,4,True,29/2/2016 01:16,29/2/2016 01:23,5/3/2016 12:00,...,Subcategory 170,Symptom 72,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,29/2/2016 11:29,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,29/2/2016 04:40,29/2/2016 04:57,29/2/2016 04:57,...,Subcategory 215,Symptom 471,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,1/3/2016 09:52,6/3/2016 10:00
5,INC0000047,Active,True,1,0,1,True,29/2/2016 04:40,29/2/2016 04:57,29/2/2016 05:30,...,Subcategory 215,Symptom 471,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,1/3/2016 09:52,6/3/2016 10:00
6,INC0000047,Active,True,1,0,2,True,29/2/2016 04:40,29/2/2016 04:57,29/2/2016 05:33,...,Subcategory 215,Symptom 471,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,1/3/2016 09:52,6/3/2016 10:00
7,INC0000047,Active,True,1,0,3,True,29/2/2016 04:40,29/2/2016 04:57,29/2/2016 11:31,...,Subcategory 215,Symptom 471,2 - Medium,2 - Medium,3 - Moderate,True,False,code 5,1/3/2016 09:52,6/3/2016 10:00

In [173]:
df.drop_duplicates(inplace = True)

In [174]:
df = df[df['incident_state'] != '-100' ]

In [175]:
ids = df['number']
df.drop(['number'],inplace = True, axis = 1)

In [176]:
df['incident_state'].replace(['Awaiting User Info','Awaiting Problem','Awaiting Vendor','Awaiting Evidence'],'Awaiting',inplace = True)

In [177]:
df[['priority','incident_state']].groupby('incident_state').agg(['count'])

               priority
                  count
incident_state
Active            38716
Awaiting          15848
Closed            24985
New               36407
Resolved          25751

In [178]:
df['active'] = df['active'].apply(lambda x : 1 if x == 'True' else 0)
df['made_sla'] = df['made_sla'].apply(lambda x : 1 if x == 'True' else 0)
df['knowledge'] = df['knowledge'].apply(lambda x : 1 if x == 'True' else 0)
df['u_priority_confirmation'] = df['u_priority_confirmation'].apply(lambda x : 1 if x == 'True' else 0)
df['priority'] = df['priority'].apply(lambda x : 1 if '1' in x else 2 if '2' in x else 3 if '3' in x else 4)
df = pd.get_dummies(df,columns = ['incident_state'])

In [179]:
reass_count_labels = [1,2,3,4,5]
df['reassignment_count'] = pd.cut(df['reassignment_count'],bins = 5, labels = reass_count_labels)

In [180]:
df.head()

,active,reassignment_count,reopen_count,sys_mod_count,made_sla,opened_at,sys_created_at,sys_updated_at,contact_type,category,...,knowledge,u_priority_confirmation,closed_code,resolved_at,closed_at,incident_state_Active,incident_state_Awaiting,incident_state_Closed,incident_state_New,incident_state_Resolved
0,0,1,0,0,0,29/2/2016 01:16,29/2/2016 01:23,29/2/2016 01:23,Phone,Category 55,...,0,0,code 5,29/2/2016 11:29,5/3/2016 12:00,0,0,0,1,0
1,0,1,0,2,0,29/2/2016 01:16,29/2/2016 01:23,29/2/2016 08:53,Phone,Category 55,...,0,0,code 5,29/2/2016 11:29,5/3/2016 12:00,0,0,0,0,1
2,0,1,0,3,0,29/2/2016 01:16,29/2/2016 01:23,29/2/2016 11:29,Phone,Category 55,...,0,0,code 5,29/2/2016 11:29,5/3/2016 12:00,0,0,0,0,1
3,0,1,0,4,0,29/2/2016 01:16,29/2/2016 01:23,5/3/2016 12:00,Phone,Category 55,...,0,0,code 5,29/2/2016 11:29,5/3/2016 12:00,0,0,1,0,0
4,0,1,0,0,0,29/2/2016 04:40,29/2/2016 04:57,29/2/2016 04:57,Phone,Category 40,...,0,0,code 5,1/3/2016 09:52,6/3/2016 10:00,0,0,0,1,0

In [181]:
df.columns

Index(['active', 'reassignment_count', 'reopen_count', 'sys_mod_count',
       'made_sla', 'opened_at', 'sys_created_at', 'sys_updated_at',
       'contact_type', 'category', 'subcategory', 'u_symptom', 'impact',
       'urgency', 'priority', 'knowledge', 'u_priority_confirmation',
       'closed_code', 'resolved_at', 'closed_at', 'incident_state_Active',
       'incident_state_Awaiting', 'incident_state_Closed',
       'incident_state_New', 'incident_state_Resolved'],
      dtype='object')

KeyError: 'assignment_group'